<div class="mt-4 col-8 offset-2">
  <div class="card">
    <div class="card-header">
        Сброс пароля
    </div>
    <div class="card-body">
      <form class="custom" #ResetPasswordForm="ngForm" (ngSubmit)="onSubmit(ResetPasswordForm)">

        <div class="form-group row">
          <label for="inputEmail3" class="col-sm-3 col-form-label">Эл. адрес</label>
          <div class="col-sm-9">
            <input [(ngModel)]="form.email" type="email" name="email" class="form-control" id="inputEmail3" placeholder="Эл. адрес"
              required>
              <span [hidden]='!error.email' class="text-danger">
                {{error.email}}
              </span>
            </div>
        </div>

        <div class="form-group row">
          <label for="inputPassword3" class="col-sm-3 col-form-label">Пароль</label>
          <div class="col-sm-9">
            <input type="password" [(ngModel)]="form.password" name="password" class="form-control" id="inputPassword3"
              placeholder="Пароль" required>
              <span [hidden]='!error.password' class="text-danger">
                {{error.password}}
              </span>
            </div>
        </div>

        <div class="form-group row">
          <label for="inputPassword4" class="col-sm-3 col-form-label">Подтверждение пароля</label>
          <div class="col-sm-9">
            <input type="password" [(ngModel)]="form.password_confirmation" name="password_confirmation" class="form-control" id="inputPassword4"
              placeholder="Подтверждение пароля" required>
              <span [hidden]='!error.password_confirmation' class="text-danger">
                {{error.password_confirmation}}
              </span>
            </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-12">
            <div class="btn-group float-right" role="group" aria-label="Basic example">
              <button type="submit" [disabled]="!ResetPasswordForm.valid" class="btn btn-primary">Изменить пароль</button>
              <!-- <button type="button"
              [routerLink]="['/register']"
              routerLinkActive="router-link-active"
              class="btn btn btn-outline-info">Sign up</button> -->
            </div>
          </div>

        </div>
      </form>
    </div>
  </div>
</div>
