<div class="container">
    <div class="row pb-3">
        <h3>User Profile</h3>
        <div class="col-md-12">
                    <form [formGroup]="formGroup" (submit)="submitForm($event)">
                        <dynamic-ng-bootstrap-form [group]="formGroup" [layout]="formLayout" [model]="formModel"></dynamic-ng-bootstrap-form>
                        <div class="btn-group mt-5 d-flex justify-content-center flex-wrap flex-md-nowrap align-items-center " role="group">
                            <button class="btn btn-success" [disabled]='!formGroup.valid' type="submit">
                                <i class="fas fa-plus-circle"></i>
                                {{(id>0)?'Обновить':'Сохранить'}}
                            </button>
                            <button class="btn btn-outline-success" type="button" (click)="formGroup.reset();">
                                <i class="fas fa-sync-alt"></i>
                                Сброс
                            </button>
                        </div>
                    </form>
        </div>
    </div>
</div>
