<div class="container">
  <div class="row">
    <div class="col-md-7 ">

      <div class="panel panel-default">
        <div class="panel-heading">  <h4 >User Profile</h4></div>
        <div class="panel-body">

          <div class="box box-info">

            <div class="box-body">
              <div class="col-sm-6">
                <div  align="center"> <img alt="User Pic" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" id="profile-image1" class="img-circle img-responsive">

                  <input id="profile-image-upload" class="hidden" type="file">
                  <div style="color:#999;" >click here to change profile image</div>
                  <!--Upload Image Js And Css-->







                </div>

                <br>

                <!-- /input-group -->
              </div>
              <div class="col-sm-6">
                <h4 style="color:#00b1b1;">Prasad Shankar Huddedar </h4>

              </div>
              <div class="clearfix"></div>
              <hr style="margin:5px 0 5px 0;">
              <!--<form [formGroup]="formGroup" (submit)="find($event)">-->
                <!--<dynamic-ng-bootstrap-form [group]="formGroup" [model]="formModel"></dynamic-ng-bootstrap-form>-->
                <!--<div class="btn-group mt-5" role="group">-->
                  <!--<button class="btn btn-danger" type="submit">-->
                    <!--<i class="fas fa-search"></i>-->
                    <!--Save-->
                  <!--</button>-->
                  <!--<button class="btn btn-outline-danger" type="button" (click)="formGroup.reset();find()">-->
                    <!--<i class="fas fa-sync-alt"></i>-->
                    <!--Reset-->
                  <!--</button>-->
                <!--</div>-->
              <!--</form>-->
              <div class="col-xs-3 col-sm-5">
              <div class="tital " >Name:</div><input type="text" class="form-control" placeholder="Your name: Azat">
              <div class="clearfix"></div>
              <div class="bot-border"></div>

              <div class="tital " >Surname:</div><input class="form-control" placeholder="Your surname: Temirbek" >
              <div class="clearfix"></div>
              <div class="bot-border"></div>

              <div class="tital " >Phone:</div><input class="form-control" placeholder="Phone: +xxx xxx xx xx xx">
              <div class="clearfix"></div>
              <div class="bot-border"></div>

              <div class="tital " >Email:</div><input class="form-control" placeholder="Your email: example@for.you">

              <div class="clearfix"></div>
              <div class="bot-border"></div>

              <div class="tital " >Password:</div><input class="form-control" placeholder="Password:**********">

              <div class="clearfix"></div>
              <div class="bot-border"></div>
                  <button type="submit" class="btn btn-primary mb-2">Confirm identity</button>
                  <h1>                                </h1>

              <!-- /.box-body -->
            <!-- /.box -->




        </div>
      </div>
    </div>
    <script>
        $(function() {
            $('#profile-image1').on('click', function() {
                $('#profile-image-upload').click();
            });
        });
    </script>

  </div>
</div>
    </div>
  </div>
</div>