<!-- <nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">Navbar</a>
  <div>
    </div>
</nav> -->

<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
  <a class="navbar-brand" href="/home">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
      stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="">
      <circle cx="12" cy="12" r="10"></circle>
      <line x1="14.31" y1="8" x2="20.05" y2="17.94"></line>
      <line x1="9.69" y1="8" x2="21.17" y2="8"></line>
      <line x1="7.38" y1="12" x2="13.12" y2="2.06"></line>
      <line x1="9.69" y1="16" x2="3.95" y2="6.06"></line>
      <line x1="14.31" y1="16" x2="2.83" y2="16"></line>
      <line x1="16.62" y1="12" x2="10.88" y2="21.94"></line>
    </svg>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" (click)="toggleOpen()" data-target="#navbarsExample06"
    aria-controls="navbarsExample06" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [ngClass]="{'show': open}" id="navbarsExample06">
    <ul class="navbar-nav ml-auto">
      <!-- notification -->
      <li *ngIf='Auth.loggedIn.getValue()' class="nav-item dropdown" [ngClass]="{'show': dOpen}">
        <a class="nav-link dropdown-toggle text-capitalize" style="cursor:pointer" (click)="toggleD()" id="navbarDropdown"
          role="button" *ngIf="Auth.loggedIn.getValue()" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-bell "></i>
          уведомление
          <span *ngIf="Auth.loggedIn.getValue()" class="badge badge-light">
            {{' '+unReadedCount.getValue()}}
          </span>
        </a>
        <div *ngIf="unReadedData.getValue()" class="dropdown-menu mt-3 des-width" style="overflow-y:auto;height:60vh" [ngClass]="{'show': dOpen}"
          aria-labelledby="navbarDropdown">
          <div class="m-2" *ngFor="let offer of unReadedData.getValue()">
            <div class="card w-sm-100" [ngClass]="{'bg-warning': offer.status !== 'requested'}">
              <div class="card-header small">
                <span class="text-truncate">
                  {{(offer.status === "requested")?'Запрос от: '+offer?.relationships?.req_user?.name:'Ответ от: '+offer?.relationships?.res_user?.name}}
                </span>
                <span #eye (click)="makeStatusViewed(offer,eye)" class="float-right badge badge-primary" style="cursor:pointer;">
                  <i class="far fa-eye"></i>
                </span>
                <br>
                <span class="small">
                    <i class="fas fa-clock"></i> {{offer.updated_at}}
                </span>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <div class="row">
                    <div class="col">
                      <p class="small">
                        {{(offer.status == 'requested')?offer?.relationships?.trip?.from_formatted_address:offer?.relationships?.luggage?.from_formatted_address}}
                      </p>
                    </div>
                    <div class="col-2">
                      <i class="fas fa-plane text-black-50"></i>
                    </div>
                    <div class="col">
                      <p class="small">
                          {{(offer.status == 'requested')?offer?.relationships?.trip?.to_formatted_address:offer?.relationships?.luggage?.to_formatted_address}}
                      </p>
                    </div>
                  </div>
                  <div class="btn btn-sm btn-info float-right small" (click)="toggleD();makeStatusViewed(offer,eye);navigate(offer)">Посмотреть</div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </li>
      <!-- notification -->
      <a *ngIf='!Auth.loggedIn.getValue()' class="nav-item nav-link" [routerLink]="[ '/register' ]" routerLinkActive="active">
        <i class="fab fa-wpforms"></i>
        Регистация
      </a>
      <a *ngIf='!Auth.loggedIn.getValue()' class="nav-item nav-link" [routerLink]="[ '/login' ]" routerLinkActive="active">
        <i class="fas fa-sign-in-alt"></i>
        Вход
      </a>


      <div *ngIf='Auth.loggedIn.getValue()' ngbDropdown placement='bottom' class="d-inline-block">
          <a class="nav-item nav-link" id="dropdownBasic1" ngbDropdownToggle>
            <i class="fa fa-user-circle "></i>
            {{Auth.me.getValue()?.name}} {{Auth.me.getValue()?.surname}}
          </a>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu-right sample">
              <a *ngIf='Auth.loggedIn.getValue()' class="dropdown-item text-capitalize" [routerLink]="[ '/profile' ]" routerLinkActive="active">
                <i class="fa fa-user-circle"></i>
                редактирование профиля
              </a>
            <!-- <a class="">Something else is here</a> -->
            <a *ngIf='Auth.loggedIn.getValue()' class="dropdown-item" (click)='logout()' routerLinkActive="active">
                <i class="fas fa-sign-out-alt "></i>
                Выход
              </a>
          </div>
        </div>
    </ul>
  </div>
</nav>
