<!-- <div class="jumbotron">
  <div class="container">
      <h1 class="display-4">
          Соган
      </h1>
      <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
        featured content or information.</p>
      <hr class="my-3">
      <div class="row">
        <div class="col text-center">
          <div class="btn-group" role="group" aria-label="Basic example">
            <a class="btn btn-success btn-lg" href="#" role="button">Отправитель</a>
            <a class="btn btn-success btn-lg btn-outline-success" href="#" role="button">Пассажир</a>
          </div>
        </div>
      </div>
  </div>
</div> -->

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal">Карго без проблем</h1>
    <p class="lead font-weight-normal">
      Мы предлагаем надежные и дешевые грузовые перевозки через пассажиров. Найди своего пассажира или багаж для
      перевозки.
    </p>
    <h3>
      Ты кто?
    </h3>
    <!-- <a class="btn btn-outline-secondary" href="#">Coming soon</a> -->
    <div class="btn-group" role="group" aria-label="Basic example">
      <a class="btn btn-success btn-lg" routerLink="/trips" role="button">Отправитель</a>
      <a class="btn btn-success btn-lg btn-outline-success" routerLink="/luggages" role="button">Пассажир</a>
    </div>
  </div>
  <div class="product-device shadow-sm d-none d-md-block"></div>
  <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>
