<div class="mt-4 col-8 offset-2">
  <div class="card">
    <div class="card-header">
        Вход в систему
    </div>
    <div class="card-body mt-5">
      <form class="custom" #loginForm="ngForm" (ngSubmit)="onSubmit($event)">

        <div class="alert alert-danger" [hidden]='!error'>
          {{error}}
        </div>

        <div class="form-group row">
          <label for="inputEmail3" class="col-sm-2 col-form-label">Эл. адрес</label>
          <div class="col-sm-10">
            <input [(ngModel)]="form.email" type="email" name="email" class="form-control" id="inputEmail3" placeholder="mail@mail.com"
              required>
          </div>
        </div>

        <div class="form-group row">
          <label for="inputPassword3" class="col-sm-2 col-form-label">Пароль</label>
          <div class="col-sm-10">
            <input type="password" [(ngModel)]="form.password" name="password" class="form-control" id="inputPassword3"
              placeholder="Пароль" required>
          </div>
        </div>

        <div class="form-group row pt-5">
          <div class="col-sm-12">
            <div class="btn-group float-right" role="group" aria-label="Basic example">
              <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary">Войти</button>
              <button type="button"
              [routerLink]="['/register']"
              routerLinkActive="router-link-active"
              class="btn btn btn-outline-info">Зарегистрироваться</button>
            </div>
          </div>
          <div class="col-sm-12">
            <br>
              <small class='float-right'>
                <a [routerLink]="[ '/request-password-reset']">
                  Забыли пароль?
                </a>
              </small>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
