<div class="container pt-5">
  <div class="row">
    <div class="col-12">
      <h2 class="text-center">
        О нас
      </h2>
      <p class="p-3">
        Voysend-платформа для поиска и передачи посылок через пассажира, водителя или логистическую компанию, который
        направляется в указанную сторону.
        Наша миссия- обеспечение отправителям более удобной и безопасной системы отправок
        Наша цель- Дать возможность для одних быстро и экономно отправить посылку, а для других заработать на поездках.
      </p>
    </div>
    <div class="col-12 px-auto">
      <h3 class="text-center" >Ваши прямые выгоды</h3>
      <ul>
        <li>
          Экономия времени и средств
        </li>
        <li>
          Удобность пользования
        </li>
        <li>
          Возможность заработать
        </li>
        <li>
          Приобретение знакомств
        </li>
        <li>
          Возможность улучшить мир
        </li>
      </ul>
    </div>
  </div>
</div>
