.results {
    height: 70vh;
    overflow-y: auto;
    overflow-x: hidden;
}
.trip_end{
    margin-left: 505px;
    margin-top: -24px;
    margin-bottom: -24px;
}
.trip_to{
    margin-top: -25px;
    margin-bottom: 0px;
    margin-left: 505px;
}
.air_img{
    width: 70px;
    height: 45px;
    margin-left: 425px;
}
