<div class="row pt-5">
  <div class="col-md-3">
    <form [formGroup]="formGroup">

      <dynamic-ng-bootstrap-form [group]="formGroup" [model]="formModel" (change)='onChange($event)'></dynamic-ng-bootstrap-form>

    </form>
  </div>
  <div class="col-md-9">

    <div class="results" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" [scrollWindow]="false">
      <div *ngFor='let trip of data' class="col-md-12">
              <div class="trip_start">{{trip.start_dt }}</div>
              <div class="trip_end">{{trip.end_dt }}</div>
              <div><img src="http://www.clker.com/cliparts/C/K/F/L/T/v/blue-plane-th.png" class="air_img"></div> 
              <div class="trip_from">{{trip.from_formatted_address }}</div> 
              <div class="trip_to">{{trip.to_formatted_address }}</div>
        -----------------------------------------------------------------------------------------------------------------------------
      </div>
    </div>

    <div class="row">
      <div class="col"></div>
      <div *ngIf='data' class="col pt-5">
        <ngb-pagination [pageSize]='meta.per_page' [collectionSize]="meta.total" [(page)]="meta.current_page"
          aria-label="Default pagination" (pageChange)="pageChange($event)"></ngb-pagination>
      </div>
      <div class="col"></div>
    </div>

  </div>
</div>
